<h1>We've got all the time in the world</h1>
<div class="clock">
  <h2>London</h2>
  <h1><%= Time.now.utc.strftime("%H:%M") %></h1> <!-- Time.now in UTC // UTC = Universal Time, Coordinated -->
</div>

<div class="clock">
  <h2>Berlin</h2>
  <h1><%= Time.now.in_time_zone("Europe/Berlin").strftime("%H:%M") %></h1>
</div>

<div class="clock">
  <h2>Moskau</h2>
  <h1><%= Time.now.in_time_zone("Europe/Moscow").strftime("%H:%M") %></h1>
</div>

<div class="clock">
  <h2>Japan</h2>
  <h1><%= Time.now.in_time_zone("Asia/Tokyo").strftime("%H:%M") %></h1>
</div>

<div class="clock">
  <h2>New York</h2>
  <h1><%= Time.now.in_time_zone("America/New_York").strftime("%H:%M") %></h1>
</div>